# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
nohup.out
/.sass-cache/
version.json
node.pem
git-add.js
import.js
/daemon/
